<%= form_for ([@post,@post.comments.build]) do |f| %>
  
  <% if !user_signed_in? %>
    <%= f.label :name == current_user.username %>
  <% else %>  
    <%= f.text_field :name, placeholder: "name" %>
  <%end%>
  	
  	 <br>

  	<p>
  		<%= f.text_area :body, placeholder: "write a comment" %>
  	</p>
  	 <br>
  	<p>
  		<%= f.submit %>
  	</p>
  <%end %>