<h1><%= @user.username %></h1>


<%= avatar_for(@user)%>
<%= @user.description %>
<%= link_to @user.userurl %> 
<% if user_signed_in? && current_user?(@user) %>
<%= link_to "Edit profile", edit_user_path(@user)%>
<%end%>