<%= stylesheet_link_tag "user_profile.css" %>

<div class = "user-profile">
	<h1><%= avatar_for(@user, size: 40)%> <%= @user.username %></h1>

<div>
	<% if user_signed_in? != current_user?(@user) %>
		<% if current_user.following?(@user)%>
			<%= button_to "Unfollow", relationships_path(user_id: @user.id),
			method: :delete, class: "button" %>
		<%else%>
			<%= button_to "Follow", relationships_path(user_id: @user.id),
			class: "button" %>
		<%end%>
	<%end%>
</div>

<div class = "profile-description">
	website:
</div>
<div class = "description-text">
	<%= link_to @user.userurl %>
</div>

<br>

<div class = "profile-description">
	bio: 
</div>
<div class = "description-text">
	<%= @user.description %>
</div>

<br>
<br>

<!-- Edit profile & Logout -->
<% if user_signed_in? && current_user?(@user) %>
	<%= link_to "Edit Profile", edit_user_path(@user)%>
<%end%>

<br>

<% if user_signed_in? && current_user?(@user) %>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<%end%>

</div>
