<%= stylesheet_link_tag "post_page.css" %>

<div class="row">
	<div class="col-xs-1">
	</div>
    <div class="col-xs-10">
    <div class="panel panel-default">
			<h3 class = 'post-title'><%=link_to post.title, post, style: 'color:black' %></h3>
    	<p style = 'font-size: 12px;'><%= link_to(avatar_for(post.user, size: 20), current_user) %>
		<%= link_to post.username, post.user %>  <%= time_ago_in_words(post.created_at)%> ago</p>

		<p><%= truncate_html(post.body.html_safe, length: 60) %>
           <p style = 'font-size: 12px'>
						 <%= link_to "Read More..", post %>
					 </p>
        </p>
        <p class="comments">comments(<%= link_to post.comments.count, post %>)</p>
		<p style = 'font-size: 11px;'>tags: <%= post.all_tags%></p>
    </div>
    </div>
    <div class="col-xs-1">
  </div>
</div>
