
<div class="row">
	<div class="col-xs-1">
	</div>
    <div class="col-xs-10">
    <div class="panel panel-default">
    	<p><%= link_to(avatar_for(post.user, size: 40), current_user) %>
		<%= link_to post.username, post.user %></p>
        <h3><%=link_to post.title, post %></h3>
        <p class="index_date"><%= time_ago_in_words(post.created_at)%> ago</p>

		<p><%= truncate_html(post.body.html_safe, length: 60) %>
           <%= link_to "read more", post %>
        </p>
    
		<p><%= post.all_tags%></p>
    </div>
    </div>
    <div class="col-xs-1">
    </div>
    </div>
